extends layout

block content
  .navbar.navbar-default
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href="#") Ripple Notifier
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li.active
          a(href='/') Home
      ul.nav.navbar-nav.navbar-right
        li
          a(href='https://ripple.com') Ripple.com
  .jumbotron
    h1 Ripple&nbsp;Notifier&#32;
      small for&nbsp;Pushover
    p Connect Ripple to the Pushover app on iOS or Android and get live notifications about incoming payments or trades.
  hr
  .panel.panel-default
    .panel-heading
      .panel-title Get started
    .panel-body
      if key_error
        .alert.alert-danger
          strong Error
          | &ensp;
          span= key_error
      form#settings_form(role="form")
        .form-group
          label(for="pushover_key_input") Pushover user key
          input#pushover_key_input.field-address.form-control(type="text", name="pushover_key", placeholder="e.g. uQiRzpo4DXghDmr9QzzfQu27cmVRsG", value= pushover_key)
        button.btn.btn-primary(type="submit") Manage
  script(src='/scripts/jquery.min.js')
  script(src='/scripts/index.js')
